	<h4>&nbsp;</h4>						
<!-- SEITE 2 SPB GARANT BEGINNT SEITE 2 SPB GARANT BEGINNT SEITE 2 SPB GARANT BEGINNT SEITE 2 SPB GARANT BEGINNT  -->				
		<br>
		<div id="print_a4">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top"><img src="/templates/ascasa/admin/spb_logo.jpg" alt="" width="130" height="64" align="left" border="0"></td>
					<td valign="top" width="75%">
						<h2>Diese Garantiebedingungen sind ausschlie&szlig;lich f&uuml;r die nachfolgenden Hersteller g&uuml;ltig. F&uuml;r alle anderen Hersteller mit einer verl&auml;ngerten Garantie, erhalten Sie ein separates Garantiezertifikat.</h2>
					</td>
				</tr>
				<tr>
					<td valign="top">Stand: 01.04.2014 </td>
					<td valign="top" width="75%"><strong>Falcon, Lacanche, Steel, Teka</strong></td>
				</tr>
			</table>
			<h3><strong>Allgemeine Gesch&auml;ftsbedingungen zur Elektronik-Ger&auml;te-Garantie</strong></h3>
			<strong>Pr&auml;ambel<br>
				</strong>SPB Garant GmbH, M&uuml;hlsteig 36, 90579 Langenzenn - kurz SPB &#150; bietet als Auftragnehmer des Elektro-Fachhandels (Garantiegeber, GG) u. a. Garantieleistungen und Servicekonzepte f&uuml;r Endkunden (Garantienehmer, GN) an. Als herstellerunabh&auml;ngiger Anbieter umfasst das Gesch&auml;ftsfeld Dienstleistungen (Service) und Garantieverl&auml;ngerungen sowie die damit verbundende Absicherung der dazu geh&ouml;rigen Ger&auml;te. SPB &uuml;bernimmt als Erf&uuml;llungsgehilfe des GG die im Rahmen dieser Bedingungen benannten und anfallenden Leistungen. Der Vertrieb der Ger&auml;te erfolgt &uuml;ber den GG. Die Liefermodalit&auml;ten und die funktionsf&auml;hige Installation dieser Ger&auml;te werden zwischen dem GN und dem GG vereinbart.<br>
				<br>
				<strong>1. Allgemeines<br>
				</strong>Die nachfolgenden Bedingungen regeln die &Uuml;bernahme der Dienstleistung und die Garantieverl&auml;ngerung f&uuml;r Elektronik-Ger&auml;te durch SPB. Die unter diese Bedingungen fallenden Ger&auml;te werden vom GG an SPB gemeldet. Die Serviceleistungen werden dem GN schriftlich (per Mail oder Post) durch SPB best&auml;tigt. Die Kaufrechnung sollte sorgf&auml;ltig aufbewahrt werden, Sie kann im Zweifel als Nachweis dienen. Die Hotline der SPB ist Montag &#150; Freitag zwischen 08:00 &#150; 19:00 Uhr kostenfrei unter <strong>0800 / 6648164</strong> erreichbar. <br>
				F&uuml;r Anliegen au&szlig;erhalb dieser Zeiten oder wenn Sie uns aus dem Ausland kontaktieren m&ouml;chten, senden Sie bitte eine E-Mail an kundenservice@spb-garant.de. Die Kommunikation erfolgt ausschlie&szlig;lich in deutscher Sprache.<br>
				Wird die Reparatur nicht durch ein von SPB benanntes Unternehmen durchgef&uuml;hrt, kann SPB der Kostenerstattung widersprechen.<br>
				<br>
				<strong>2. Grundlagen<br>
				</strong>Es gelten ausschlie&szlig;lich die Allgemeinen Gesch&auml;ftsbedingungen zur Elektronik-Ger&auml;te-Garantie. Gesch&auml;ftsbedingungen des GG und / oder Ger&auml;teherstellers sind nicht Bestandteil.<br>
				<br>
				<strong>3. Beginn und Ende<br>
				</strong>Der Leistungsanspruch aus diesen Bedingungen beginnt mit Kauf-/Lieferdatum. Der Anspruch aus der Garantieverl&auml;ngerung beginnt mit dem 25. Monat (ausgenommen Spielekonsolen ab dem 13. Monat). Die Leistungen aus diesen Bedingungen enden generell sp&auml;testens mit Ablauf des 60. Monats nach Kauf-/ Lieferdatum. Der Leistungsanspruch ist den Ger&auml;ten fest zugeordnet und nicht mehr auf andere Ger&auml;te &uuml;bertragbar. <br>
				<br>
				Sofern ein Ger&auml;t im Rahmen der gesetzlichen Gew&auml;hrleistung vom GG / Hersteller durch ein neues Ger&auml;t gleicher Art und G&uuml;te ersetzt wird, geht der Leistungsanspruch auf das neue Ger&auml;t &uuml;ber. Voraussetzung f&uuml;r den &Uuml;bergang ist die unverz&uuml;gliche schriftliche Anzeige, anhand eines entsprechenden Nachweises nach erfolgtem Ger&auml;tetausch, bei SPB. Eine &Auml;nderung bez&uuml;glich der Leistungsdauer und des Leistungsinhaltes ergibt sich dadurch nicht.<br>
				<br>
				<strong>4. Leistungsinhalt der Garantieverl&auml;ngerung<br>
				</strong>Ab dem 25. Monat (ausgenommen Spielekonsolen ab dem 13. Monat) und l&auml;ngstens bis zum Ablauf des 60. Monats nach Kauf-/Lieferdatum, besteht Anspruch auf Leistung bei unmittelbarem Verlust der Funktionsf&auml;higkeit durch Produktions-, Konstruktions- oder Materialfehler einzelner Bauteile oder des gesamten Ger&auml;tes. <br>
				<br>
				Der Leistungsinhalt beschr&auml;nkt sich &#150; unter Ausschluss eines jeden weiteren Anspruches &#150; auf die Freistellung des GN von den Kosten der erforderlichen Reparatur des defekten Ger&auml;tes. Mehrkosten, die dadurch entstehen, dass bei der Reparatur &Auml;nderungen oder Konstruktionsverbesserungen vorgenommen werden, gehen zu Lasten des GN. <br>
				<br>
				Sofern sich eine Reparatur als unwirtschaftlich herausstellt oder ein Ersatzger&auml;t gleicher Art und G&uuml;te g&uuml;nstiger ist als die Reparaturkosten, erstreckt sich die maximale Ersatzleistung auf den Wert des Ger&auml;tes gleicher Art und G&uuml;te. In diesem Falle endet der Servicezeitraum vorzeitig und ist nicht &uuml;bertragbar. Eine unwirtschaftliche Reparatur liegt vor, wenn die Wiederinstandsetzungskosten inkl. Ersatzteil, Arbeitszeit und sonstiger Kosten, den Wert eines Ger&auml;tes gleicher Art und G&uuml;te &uuml;bersteigen. Eine Reparatur gilt generell als unwirtschaftlich, wenn die voraussichtlichen Reparaturkosten bis zum 36. Monat nach Ger&auml;tekauf 80% und ab dem 37. Monat nach Ger&auml;tekauf 60% des damaligen Kaufpreises erreichen oder &uuml;bersteigen.<br>
				<br>
				<strong>5. Mitwirkungspflichten des GN<br>
				</strong>SPB kann im Leistungsfall vom GN die damalige Kaufrechnung verlangen. <br>
				Auftretende St&ouml;rungen und Fehler werden vom GN unverz&uuml;glich an SPB gemeldet. Die Fehleranalyse muss der GN angemessen unterst&uuml;tzen, alle erforderlichen Informationen bereitstellen und bei Bedarf grundlegende Aktivit&auml;ten zur Fehlerbehebung ausf&uuml;hren (z.B. Ger&auml;tebedienung nach Anweisung oder m&ouml;gliche Anschluss&uuml;berpr&uuml;fung). Der Fehler (auch sporadische) muss reproduzierbar sein oder zumindest vom GN detailliert beschrieben werden.<br>
				 Zur eventuellen Geltendmachung des Leistungsanspruches aus der Garantieverl&auml;ngerung stellt der GN der SPB die verauslagte Original-Reparaturkostenrechnung sowie sonstige f&uuml;r die Ermittlung der Entsch&auml;digung notwendigen Informationen zur Verf&uuml;gung. Die Ersatzleistung wird in EURO geleistet.<br>
				<br>
				<strong>6. Ausschl&uuml;sse und nicht enthaltene Leistungen<br>
				</strong>Wenn durch &Auml;nderungen des GN an den Produkten oder der Anschluss oder Einbau von Drittkomponenten und/oder Drittger&auml;ten dazu f&uuml;hren, dass die Leistungserbringung im Rahmen dieser Bedingungen erschwert wird, ist der GN verpflichtet, solche &Auml;nderungen, Anschl&uuml;sse und/oder Einbauten auf eigene Kosten und eigenes Risiko zu entfernen. <br>
				<br>
				Leistungen aus der Garantieverl&auml;ngerung vor Beginn des 25. Monats (Spielekonsolen vor dem 13. Monat) und nach dem Ablauf des 60. Monats ab Kauf-/ Lieferdatum.
		</div>
<!--		<h4>Seite2/2</h4>-->
<!-- SEITE 3 SPB GARANT BEGINNT SEITE 3 SPB GARANT BEGINNT SEITE 3 SPB GARANT BEGINNT SEITE 3 SPB GARANT BEGINNT   -->   
    <div id="print_a4">
			<br />Jegliche Leistungen, die durch &auml;u&szlig;ere Einwirkungen wie Brand, Blitzschlag, Explosion, &Uuml;berspannung, Kurzschluss, Einbruchdiebstahl, Vandalismus, h&ouml;here Gewalt, sowie Feuchtigkeit, Fl&uuml;ssigkeit oder Sch&auml;den durch Korrosion oder Kalkablagerungen, sowie Leistungen die durch falsche Stromart/Spannung entstanden notwendig sind.<br>
			<br>
			Leistungen, die auf Grund nicht fachgerechter Installations-, Instandhaltungs-, Wartungs-, Justage-, Reinigungs-, L&ouml;t- oder Reparaturarbeiten notwendig sind. Serviceeinstellungen, Fehlersuche, Softwaresch&auml;den, Abnutzung sowie unsachgem&auml;&szlig;e Handhabung (z.B. Bruch, Sturz), Bedienung oder Pflege, unbestimmungsgem&auml;&szlig;er Gebrauch oder wenn vorgeschriebene Reinigungs-, Entkalkungs- und Wartungsintervalle nicht eingehalten wurden, f&uuml;hren zum Leistungsausschluss.<br>
			<br>
			 Leistungen, die auf Grund grober Fahrl&auml;ssigkeit oder Vorsatz des Benutzers notwendig sind. Leistungen, die auf Grund von Transport und unsachgem&auml;&szlig;er Verpackung/Versand notwendig sind. <br>
			<br>
			Leistungen an Ger&auml;ten mit fehlender Seriennummer, E-, FD-Nummer sowie bei externen Teilen (wie Fernbedienungen, Controller und nicht mit der Zentraleinheit verbundende Komponenten), Erstattung von Eil- und Expressfrachten, bzw. Nacht- oder &Uuml;berstundenzuschl&auml;gen, Fehlfahrten wie z.B. nicht antreffen des GN zum vereinbarten Zeitpunkt / Ort und gewerblich genutzte Ger&auml;te. Dies gilt auch bei Beseitigung unerheblicher M&auml;ngel, insbesondere Kratz-, Schramm-, und Scheuersch&auml;den sowie sonstiger Sch&ouml;nheitsfehler die den technischen Gebrauch des Ger&auml;tes nicht beeintr&auml;chtigen. <br>
			<br>
			Ausgeschlossen sind Verbrauchsmaterialien (z.B. Batterien, Leuchtmittel), Verschlei&szlig;teile, au&szlig;erhalb des Ger&auml;tes angebrachte Kabel, Kabelverbindungen, Schl&auml;uche, Plastikteile, sowie mechanische Teile (z.B. Griffe, Scharniere). Gummidichtungen an T&uuml;ren gelten ebenfalls ausgeschlossen. Weiterhin besteht kein Anspruch, wenn die vom Hersteller vorgegebene Nutzungsrate &uuml;berschritten wurde. <br>
			<br>
			Leistungen, wenn nicht Original-Produkte oder Original-Verbrauchsmaterialien sowie Original-Zubeh&ouml;r des jeweiligen Herstellers verwendet wurden. <br>
			<br>
			Sachfolge- und Verm&ouml;genssch&auml;den, sowie Sch&auml;den f&uuml;r die ein H&auml;ndler oder ein sonstiger Ver&auml;u&szlig;erer oder Hersteller im Rahmen der gesetzlichen (Haftung oder Gew&auml;hrleistung) oder vertraglichen (Garantie) Bestimmungen zu haften hat; es sei denn, es handelt sich um Sch&auml;den gem&auml;&szlig; Ziff. 4. <br>
			<br>
			Leistungen nach Fremdeingriffen, nicht autorisierten Reparaturversuchen sowie bei Inkompatibilit&auml;t. Keine Fremdeingriffe sind Umbauten, die nach Herstellerrichtlinien oder Pl&auml;nen durch autorisierte Vertragspartner durchgef&uuml;hrt und umgehend der SPB gemeldet wurden. <br>
			<br>
			Leistungen bei Serienfehlern (Serienfehler sind Fehler an Anlagen/ Ger&auml;ten derselben Art oder Konstruktion, die auf Grund von Konstruktions-, Material- oder Ausf&uuml;hrungsfehler durch die gleiche Ursache entstanden sind). Die Verletzung g&uuml;ltiger Gesetze und Vorschriften, soweit sie f&uuml;r diese Bedingungen von Bedeutung sind, f&uuml;hren zum Leistungsausschluss. Ger&auml;te-Entsorgungskosten gehen zu Lasten des GN.<br>
			<br>
			<strong>7. K&uuml;ndigung<br>
			</strong>SPB ist zur fristlosen K&uuml;ndigung dieser Vereinbarung berechtigt, wenn der GN eine wesentliche Vertragspflicht nicht erf&uuml;llt oder gegen eine Bedingung dieser Vereinbarung (z.B. falsche Angaben) verst&ouml;&szlig;t. 8. Anwendbares Recht Es gilt das Recht der Bundesrepublik Deutschland.<br>
			<br>
			<strong>8. Anwendbares&nbsp;Recht<br>
			</strong>Es gilt das Recht der Bundesrepublik Deutschland.<br>
			<br>
			<strong>9. Geltungsbereich und Erf&uuml;llungsort<br>
			</strong>Der Geltungsbereich ist auf Europa beschr&auml;nkt. Als Erf&uuml;llungsort gilt der Aufstellungsort, gem&auml;&szlig; Lieferschein / Rechnung. Sollte der urspr&uuml;ngliche Aufstellungsort w&auml;hrend der Vertragslaufzeit ver&auml;ndert werden, ist dies anmeldepflichtig.<br>
			<br>
			<strong>10. Datenschutzklausel<br>
			</strong>Der GN ist damit einverstanden, dass die Daten, die zur ordnungsgem&auml;&szlig;en Durchf&uuml;hrung der SPB-Leistungen erforderlich sind der SPB mitgeteilt werden m&uuml;ssen. Von SPB werden diese Daten an die Versicherungsgesellschaft, dem Call-Center (Hotline) und evtl. dem auszuf&uuml;hrenden Reparaturunternehmen (Subunternehmer) &uuml;bermittelt. Eine sonstige Weitergabe erfolgt nicht. Die Parteien verpflichten sich, die einschl&auml;gigen deutschen Datenschutzbestimmungen<br>
			einzuhalten.<br>
			<br>
			<strong>11. Gerichtsstand<br>
			</strong>Gerichtsstand ist N&uuml;rnberg-F&uuml;rth (Bayern).<br>
			<br>
			<strong>12. Salvatorische Klausel<br>
			</strong>Sollten eine oder mehrere Bestimmungen dieser Vereinbarung unwirksam sein oder werden, oder dieser Vertragstext eine Regelungsl&uuml;cke enthalten, so werden die Vertragsparteien die unwirksame oder unvollst&auml;ndige Bestimmung durch angemessene Regelungen ersetzen oder erg&auml;nzen, die dem wirtschaftlichen Zweck der gewollten Regelung entsprechen. Die G&uuml;ltigkeit der &uuml;brigen Bestimmungen bleibt davon unber&uuml;hrt.<br>
			<br>
			<strong>13. &Auml;nderungen dieser Vereinbarung<br>
			</strong>&Auml;nderungen dieser Vereinbarung bed&uuml;rfen der Schriftform.<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>                        
			<hr>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top">Kontaktdaten</td>
					<td valign="top" width="80%">SPB Garant GmbH &bull; M&uuml;hlsteig 36 &bull; 90579 Langenzenn<br>
						Tel.: +49 (0) 9101 - 9008 - 0 &bull; Fax: +49 (0) 9101 - 9008 - 100 &bull; www.spb-garant.de &bull; info@spb-garant.de</td>
				</tr>
				<tr>
					<td valign="top">Bankverbindung</td>
					<td valign="top" width="80%">Sparkasse F&uuml;rth &bull; Kto-Nr.: 5462 &bull; BLZ: 762 500 00 &bull; IBAN: DE60762500000000005462 &bull; BIC: BYLADEM1SFU</td>
				</tr>
				<tr>
					<td valign="top">Rechtliches</td>
					<td valign="top" width="80%">Gesch&auml;ftsf&uuml;hrer Peter Bauer und Christian Engelhard &bull; Ust-ID-Nr.: DE187/1/75866 &bull; HRB: 6004 F&uuml;rth</td>
				</tr>
				<tr>
					<td valign="top">Gesch&auml;ftszeiten</td>
					<td valign="top" width="80%">MO &#150; DO 08:00 &#150; 12:00 Uhr und 13:00 &#150; 17:00 Uhr &bull; FR 08:00 &#150; 15:00 Uhr</td>
				</tr>
			</table>
		</div>