/* mini reset */
.nav,
.nav a,
.nav form,
.nav input,
.nav li,
.nav ul {
  border: none;
  margin: 0;
  padding: 0;
}
.nav a {
  text-decoration: none;
}
.nav li {
  list-style: none;
}

/* menu container */
.nav,
input {
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}
.nav {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 500;
}

/* menu list */
.nav > li {
  float: left;
}

/* menu links */
.nav > li > a {
  background: #5a5b5e;
  border-left: 1px solid #eaeaea;
  border-right: 0px solid #eaeaea;
  color: #fcfcfc;
  display: block;
  font-weight: normal;
  line-height: 3.4;
  padding: 0em 1em 0em 1em;
  position: relative;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0.35);
  transition: all .3s ease;
  z-index: 510;    
}
.nav > li > a:focus,
.nav > li:hover > a {
  background: #4b4441;
}
.nav > li:first-child > a {
  border-left: none;
  border-radius: 0px 0 0 0px;
}

/* menu dropdown */
.mega-menu {
  background: #eaeaea;
  border: 0px solid #ddd;
  border-radius: 0 0 0px 0px;
  opacity: 0;
  position: absolute;
  transition: all .3s ease .15s;
  visibility: hidden;
  width: 100%;
  z-index: 520;  
}
li:hover > .mega-menu {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

/* menu content */
.nav-column {
  float: left;
  padding: 1.5%;
  padding-top: 0px;
  width: 20%; 
}
.nav-column a {
  color: #66676b;
  font-size: 12px;
  display: block;
  font-weight: normal;
  line-height: 1.60;
}
.nav-column a:hover {
  color: #ffffff;
  background: #ff741c;
  padding-left: 0px;  
}

/* Kategorie-Überschriften */
h6 {
  color: #372f2b;
  font-size: .95em;
  font-weight: bold;
  line-height: 1.15;
  margin: 1.25em 0 .75em;
  text-transform: uppercase;
}
.highlight {
  color: #ff741c;  
}