{config_load file="$language/lang_$language.conf" section="checkout_payment"}
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="checkout_payment"}
{literal}
<noscript>
<style type="text/css">
  .nonjs-fallback {display:none !important;}
  .nonjs-heading {margin:10px 0px 5px 0px; font-weight:bold;}
  .nonjs-h4 {margin:10px 0px 10px 0px;}
</style>
</noscript>
{/literal}

{if isset($NO_SHIPPING)}
  <ul id="checkoutnavigation" class="cn_no_shipping cf">
    <li><span class="active cf"><span class="title">1. {#title_payment#}</span><span class="description">{#desc_payment#}</span></span></li>
    <li><span class="inactive cf"><span class="title">2. {#title_confirmation#}</span><span class="description">{#desc_confirmation#}</span></span></li>
    <li><span class="inactive cf"><span class="title">3. {#title_success#}</span><span class="description">{#desc_success#}</span></span></li>
  </ul>
{else}
  <ul id="checkoutnavigation" class="cf">
    <li><span class="inactive cf"><span class="title">1. {#title_shipping#}</span><span class="description">{#desc_shipping#}</span></span></li>
    <li><span class="active cf"><span class="title">2. {#title_payment#}</span><span class="description">{#desc_payment#}</span></span></li>
    <li><span class="inactive cf"><span class="title">3. {#title_confirmation#}</span><span class="description">{#desc_confirmation#}</span></span></li>
    <li><span class="inactive cf"><span class="title">4. {#title_success#}</span><span class="description">{#desc_success#}</span></span></li>
  </ul>
{/if}

<h1 class="checkout">{#heading_payment#}</h1>
{if $error != ''}<div class="errormessage">{$error}</div>{/if}

{$FORM_ACTION}
<div class="twoColums">
  <div class="highlightbox">
    <h4 class="checkout">{#title_payment#}</h4>
    {if (!isset($GV_COVER) || $GV_COVER != 'true') && (!isset($NO_PAYMENT) || $NO_PAYMENT != 'true')}
      <p>{#text_payment#}</p>
      {$PAYMENT_BLOCK}{$module_gift}
    {elseif isset($GV_COVER) && $GV_COVER == 'true'}
      <div class="infomessage" id="gccover"><b>{#text_gccover#}</b></div>
    {elseif isset($NO_PAYMENT) && $NO_PAYMENT == 'true'}
      <div class="infomessage" id="nopayment"><b>{#text_nopayment#}</b></div>
    {/if}
  </div>
</div>

<div class="twoColums last">
  {if $step2 != 'true'}
  <div class="highlightbox">
    <h4 class="checkout">{#title_address#}</h4>
    <p class="cf"><span class="button_right_checkout_small">{$BUTTON_ADDRESS}</span>{$ADDRESS_LABEL}</p>
  </div>
  {/if}

  {if $step2 != 'true'}
  <br />
  <div class="highlightbox">
    {if $smarty.const.DISPLAY_CONDITIONS_ON_CHECKOUT == 'true'}
      <h4 class="checkout">{#title_comments_short#}</h4>
      <div class="checkoutcomment">{$COMMENTS}</div>
      <br class="clearfix" />
      <h4 class="checkout">{#title_agb#}</h4>
       <div class="checkoutagb">{$AGB}</div> 
       <br class="clearfix" />    
       <div class="checkoutconditions">
        {$AGB_checkbox} <strong><label for="conditions">{#text_accept_agb#}</label></strong>&nbsp;{$AGB_LINK}
      </div>
      
      {if $SHIPPINGCONDITIONS}
      <br class="clearfix" /> 
	  <h4 class="checkout">Weitergabe Ihrer Daten an Versanddienstleister</h4>
	  <div class="agbframe" style="height:100px">
 		Ich bin damit einverstanden, dass meine E-Mail-Adresse bzw. meine Telefonnummer an<br /><br />
		-Deutsche Post AG, Charles-de-Gaulle-Straße 20, 53113 Bonn<br />
		-DPD Deutschland GmbH, Wailandtstraße 1, 63741 Aschaffenburg<br /> 
		-FedEx Express Germany GmbH, Langer Kornweg 34 k,65451 Kelsterbach<br />
		-General Logistics Systems Germany GmbH & Co. OHG, GLS Germany-Straße 1 - 7, 36286 Neuenstein<br />
		-Hermes Logistik Gruppe Deutschland GmbH, Essener Straße 89, 22419 Hamburg<br />
		-United Parcel Service Deutschland Inc. & Co. OHG, Görlitzer Straße 1, 41460 Neuss<br />
		-Rhenus SE & Co. KG, Rhenus-Platz 1, 59439 Holzwickede<br />
		<br />
		weitergegeben wird, damit der Paketdienstleister vor der Zustellung der Ware zum Zwecke der Abstimmung eines Liefertermins per E-Mail oder Telefon Kontakt mit mir aufnehmen bzw.   
		Statusinformationen zur Sendungszustellung ³bermitteln kann. Meine diesbezüglich erteilte Einwilligung kann ich jederzeit widerrufen.
	  </div>
	  <div class="checkoutconditions">
        {$SHIPPINGCONDITIONS_checkbox} <strong><label for="conditions_shipping">Ich akzeptiere die Weitergabe der Daten an Versanddienstleister</label></strong>
      </div>
      <br class="clearfix" /> 
      {/if}
      {if $CONTACTCONDITIONS}
      <br class="clearfix" /> 
	  <h4 class="checkout">Kontaktaufnahme zur Bewertungserinnerung</h4>  
	  <div class="agbframe" style="height:50px"> 
	  	Ich möchte den Einkauf gegebenenfalls später bewerten und einmalig per E-Mail an die Abgabe einer Bewertung erinnert werden. Meine Einwilligung kann ich jederzeit widerrufen.
	  </div>
	  <div class="checkoutconditions">
        {$CONTACTCONDITIONS_checkbox} <strong><label for="conditions_contact">Ich akzeptiere die Kontaktaufnahme zur Bewertungserinnerung (optional)</label></strong>
      </div>
      <br class="clearfix" /> 	      
      {/if}
      
      
      {if isset($PRIVACY_checkbox)}
        <div class="checkoutconditions">
          {$PRIVACY_checkbox} <strong><label for="privacy">{#text_privacy_accept#}</label></strong>&nbsp;{$PRIVACY_LINK}
        </div>
      {/if}
      {if isset($REVOCATION_checkbox)}
        <div class="checkoutconditions">
          {$REVOCATION_checkbox} <strong><label for="revocation">{#text_accept_revocation#}</label></strong>&nbsp;{$REVOCATION_LINK}
        </div>
      {/if}      
    {else}
      <h4 class="checkout">{#title_comments_short#}</h4>
      <div class="checkoutcomment">{$COMMENTS}</div>
      {if isset($PRIVACY_checkbox)}
        <div class="checkoutconditions">
          {$PRIVACY_checkbox} <strong><label for="privacy">{#text_privacy_accept#}</label></strong>&nbsp;{$PRIVACY_LINK}
        </div>
      {/if}
      {if isset($REVOCATION_checkbox)}
        <div class="checkoutconditions">
          {$REVOCATION_checkbox} <strong><label for="revocation">{#text_accept_revocation#}</label></strong>&nbsp;{$REVOCATION_LINK}
        </div>
      {/if}
    {/if}
  </div>
  {/if}

</div>
<br class="clearfix" />
{if isset($BUTTON_BACK)}<div class="button_left"><div class="cssButtonPos12">{$BUTTON_BACK}</div></div>{/if}
<div class="button_right_checkout"><div class="cssButtonPos12">{$BUTTON_CHECKOUT_STEP3}</div></div>
{$FORM_END}