{config_load file="$language/amazon.conf" section="checkout_amazon"}
{config_load file="$language/lang_$language.conf" section="checkout_payment"}
{config_load file="$language/lang_$language.conf" section="login"}

<div>
            <h1 style="text-align:center;">{$smarty.const.AMZ_CONNECT_ACCOUNTS_TITLE}</h1>
            <div class="amzMessageWr">
                <form method="POST" action="{'checkout_amazon_connect_accounts.php'|xtc_href_link:'':'SSL'}">
                    <input type="hidden" name="action" value="tryConnect" />
                    <input type="hidden" name="email" value="{$smarty.session.amzConnectEmail}" />
                    {if $ERROR}
                        <div class="amzError">{$smarty.const.AMZ_CONNECT_ACCOUNTS_ERROR}</div>
                    {/if}
                    <div>{$smarty.const.AMZ_CONNECT_ACCOUNTS_INTRO}</div>
                    <input name="password" placeholder="{$smarty.const.AMZ_PASSWORD}" type="password" class="amzConnectPassword amzInput" />
                    <button class="amzButton">{$smarty.const.AMZ_CONNECT_ACCOUNTS}</button>
                    <div>
                        <a href="{'password_double_opt.php'|xtc_href_link:'':'SSL'}" target="_blank">{#text_lost_password#}</a>
                    </div>
                    <div>
                        <a href="{'checkout_amazon_handler.php'|xtc_href_link:'handleraction=redirectAuthentication&amazon_special=continue_as_guest'}" class="continueAsGuest">{$smarty.const.TEXT_CONTINUE_AS_GUEST}</a>
                    </div>
                </form>
            </div>
</div>
