{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="lang_`$language`.custom"}
{if isset($smarty.session.tpl) AND $smarty.session.tpl == '_mobile'}
	{include file="index_mobile.html"}
{else}
{if isset($box_ADMIN)}<div class="adminspacer"></div>{$box_ADMIN}{/if}
<div id="layout_wrap">
<!----------------------------------------------HEADER NG22 ANFANG -------------------------------------------------->                                                                                                                        
<center>
<div id="layout_header">
<div class="container">
    <div class="row">            
        <div class="column5head1">                
          <div class="contentBox">                          
              <a href="/"><img alt="" src="{$tpl_path}img_tpl/logo.png" style="width: 90%;"></a>                                                      
          </div>                            
        </div>
        <div class="column5head2">                
          <div class="contentBox">                               
            <!-- KONTAKTDATEN -->
            <div class="headerbox_tel">          
              <div style="float: left; width: 70.00%;" align="left" >
          	        <span>
                      <div style="margin-bottom: 4px;"><img style="margin-bottom: -2px;" src="{$tpl_path}img_tpl/icon_tel.png"><a class="headerlink" href="tel:004989961606900">+49 (0) 89 / 9616069-00</a><br /></div>
                      <div style="margin-bottom: 2px;"><img style="margin-bottom: -2px;" src="{$tpl_path}img_tpl/icon_mail.png"> <a class="headerlink" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}">info@ascasa.de</a><br /></div>
                      <div style="margin-bottom: 2px;"><img style="margin-bottom: -2px;" src="{$tpl_path}img_tpl/icon_clock.png"> <a class="headerlink" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}">kostenloser R&uuml;ckruf</a></div>                    
                    </span>
              </div>                  
            </div>                             
          </div>              
        </div>
        <div class="column5head3">                
          <div class="contentBox">                               
            <!-- SUCHFELD -->
            <div class="headerbox_suche">          
              <div style="float: left; width: 50.00%; padding-top: 10px;" align="left" >                          
                {* Suchfeld - Inhalt kommt aus boxes/box_search.html *} 
                {if isset($box_SEARCH)}
	               <div id="search">{$box_SEARCH}</div>
                {/if}                                          	
              </div>  
            </div>                             
          </div>              
        </div>
        <div class="column5head4">                
          <div class="contentBox">         
            <!-- LOGIN -->
            <div class="headerbox_tel">          
              <div style="float: left; width: 70.00%;" align="left" >
          	    <span style="font-size: 12px">
                   {if isset($smarty.session.customer_id)}                      
                    <div style="margin-bottom: 4px;"><img style="margin-bottom: -2px;" src="{$tpl_path}img_tpl/icon_lock.png"> <a class="headerlink" href="{$logoff}">Logout</a><br /></div>                      
                   {else}
                    <div style="margin-bottom: 4px;"><img style="margin-bottom: -2px;" src="{$tpl_path}img_tpl/icon_lock.png"> <a class="headerlink" href="{$login}">Login</a><br /></div>
                   {/if}                                                              
                    {if isset($account)}
                      <div style="margin-bottom: 4px;"><img style="margin-bottom: -2px;" src="{$tpl_path}img_tpl/icon_profile.png"> <a class="headerlink" href="{$account}">{#link_account#}</a><br /></div>
                    {else}
                      <div style="margin-bottom: 4px;"><img style="margin-bottom: -2px;" src="{$tpl_path}img_tpl/icon_profile.png"> <a class="headerlink" href="{$create_account}">{#new_customer#}</a><br /></div>
                    {/if}
                      <div style="margin-bottom: 4px;"><img style="margin-bottom: -2px;" src="{$tpl_path}img_tpl/icon_cart2.png"> <a class="headerlink" href="{$checkout}">Kasse</a></div>                    
                </span>
              </div>                  
            </div>                           
          </div>              
        </div>        
        <div class="columnR5headx">              
          <div class="contentBox">                
            <!-- WARENKORB -->            
            <div class="headerbox_cart">          
              <div style="float: left; width: 70.00%;" align="left" >
                {* Warenkorb - Inhalt kommt aus boxes/box_cart.html *} 
                {if isset($box_CART)}
	               {$box_CART}
                {/if}                                                           
              </div>
              <div style="text-align: right;" >
          		    <a title="Warenkorb" href="/shopping_cart.php"><img alt="Warenkorb" src="{$tpl_path}img_tpl/icon_cart.png" style="width: 20%;"></a>
              </div>     
            </div>
             <br />                        
          </div>              
        </div    
    </div>               
</div>
<div class="headmobile">
<div class="container">
    <div class="row">                   
        <table width="90%">
            <tr>
                <td><a href="/"><img alt="" src="{$tpl_path}img_tpl/logo_mobile.png" style="width: 110px;"></a></td>
                <td><img alt="" src="{$tpl_path}img_tpl/icon_gap_mobile.png" style="width: 1px;"></td>
                <td><a href="tel:004989961606900"><img alt="" src="{$tpl_path}img_tpl/icon_tel_mobile.png" style="width: 35px;"></a></td>
                <td><a href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}"><img alt="" src="{$tpl_path}img_tpl/icon_mail_mobile.png" style="width: 35px;"></a></td>
                <td><a href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}"><img alt="" src="{$tpl_path}img_tpl/icon_clock_mobile.png" style="width: 35px;"></a></td>
                <td><img alt="" src="{$tpl_path}img_tpl/icon_gap_mobile.png" style="width: 1px;"></td>                                
            {if isset($smarty.session.customer_id)}                                
                <td><a href="{$logoff}"><img alt="" src="{$tpl_path}img_tpl/icon_lock_mobile.png" style="width: 35px;"></a></td>
            {else}
                <td><a href="{$login}"><img alt="" src="{$tpl_path}img_tpl/icon_lock_mobile.png" style="width: 35px;"></a></td>   
            {/if}                                 
            {if isset($account)}                
                <td><a href="{$account}"><img alt="" src="{$tpl_path}img_tpl/icon_profile_mobile.png" style="width: 35px;"></a></td>
            {else}
                <td><a href="{$create_account}"><img alt="" src="{$tpl_path}img_tpl/icon_profile_mobile.png" style="width: 35px;"></a></td>         
            {/if}                
                <td><a href="/shopping_cart.php"><img alt="" src="{$tpl_path}img_tpl/icon_cart_mobile.png" style="width: 35px;"></a></td>
            </tr>
        </table>                                     
    </div>               
</div>
</div>
</div>
</center>
<!----------------------------------------------HEADER NG22 ENDE -------------------------------------------------->

<!------------------------------------------ Megamenu ANFANG ------------------------------------------------------------>
<center>
<div id="layout_megamenu">
<div class="column_border00px" style="background-color: #5a5b5e;">
    <div align="left" class="container">        
            <span style="font-color: #454545" class="footerlink"></span>     
      <div class="megamenu">         
          <div class="menu-wrapper" role="navigation">
            <ul class="nav" role="menubar">
              <li role="menuitem">
                <a href="#">Kochen & Backen</a>
                <div class="mega-menu" aria-hidden="true" role="menu">
                  <div class="nav-column">
                    {if isset($box_CATEGORIES)}{$box_CATEGORIES}{/if}            
                  </div>                                             
                </div>
              </li>
              <li role="menuitem">
                  <a href="#">Dunstabzugshauben</a>
                <div class="mega-menu" aria-hidden="true" role="menu">
                  <div class="nav-column">
                    <h6>&raquo; Kochfelder f&uuml;r Herde</h6>
                    <ul>
                      <li role="menuitem"><a href="#">bis 60 cm Breite</a></li>
                      <li role="menuitem"><a href="#">bis 70 cm Breite</a></li>
                      <li role="menuitem"><a href="#">bis 80 cm Breite</a></li>
                    </ul>
                    <h6>&raquo; Kochfelder (autark)</h6>
                    <ul>
                      <li role="menuitem"><a href="#">bis 30 cm Breite</a></li>
                      <li role="menuitem"><a href="#">bis 60 cm Breite</a></li>
                      <li role="menuitem"><a href="#">bis 70 cm Breite</a></li>
                      <li role="menuitem"><a href="#">bis 80 cm Breite</a></li>
                      <li role="menuitem"><a href="#">bis 90 cm Breite</a></li>
                      <li role="menuitem"><a href="#">bis 100 cm Breite</a></li>                            
                    </ul>              
                  </div>
                  <div class="nav-column">
                    <h6>&raquo; Weitere</h6>
                    <ul>
                      <li role="menuitem"><a href="#">Gas-Kochfelder</a></li>                
                      <li role="menuitem"><a href="#">Kocheinheiten/Dominos</a></li>
                      <li role="menuitem"><a href="#">Kochfeld-Zubeh&ouml;r</a></li>
                    </ul>
                  </div>
                  <div class="nav-column">
                    <h6>&raquo; Weitere Kategorie 1</h6>
                    <ul>
                      <li role="menuitem"><a href="#">Unterkategorie 1</a></li>
                      <li role="menuitem"><a href="#">Unterkategorie 2</a></li>
                      <li role="menuitem"><a href="#">Unterkategorie 3</a></li>
                      <li role="menuitem"><a href="#">Unterkategorie 4</a></li>
                      <li role="menuitem"><a href="#">Unterkategorie 5</a></li>
                      <li role="menuitem"><a href="#">Unterkategorie 6</a></li>  
                    </ul>
                    <h6>&raquo; Weitere Kategorie 2</h6>
                    <ul>
                      <li role="menuitem"><a href="#">Unterkategorie 1</a></li>
                      <li role="menuitem"><a href="#">Unterkategorie 2</a></li>
                      <li role="menuitem"><a href="#">Unterkategorie 3</a></li>                                                                          
                    </ul>              
                  </div>  
                            
                  <div class="nav-column">
                    <h6 class="highlight">&raquo; Aktionen:</h6>
                    <ul>
                      <li role="menuitem"><a href="#">Aktionsartikel 1</a></li>
                      <li role="menuitem"><a href="#">Aktionsartikel 2</a></li>
                      <li role="menuitem"><a href="#">Aktionsartikel 3</a></li>
                      <li role="menuitem"><a href="#">Aktionsartikel 4</a></li>                
                    </ul>
                    <h6 class="highlight"></h6>
                    <ul>
                      <br />
                          <a href="#"><img alt="" src="{$tpl_path}img_tpl/platzhalter_produkt2.jpg" style="width: 100%;"></a>                
                      <br />
                      <table cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                              <td class="tab1_on" align="center" width="90"><span class="bold"><a href="/">Startseite</a></span></td>
                              <td class="tab1" align="center" width="100"><span class="bold">Produktseiten</span></td>
                              <td class="tab1" align="center" width="50"><span class="bold"><a href="/produkte_1.php">V1</a></span></td>
                              <td class="tab1" align="center" width="50"><span class="bold"><a href="/produkte_2.php">V2</a></span></td>
                              <td class="tab1" align="center" width="50"><span class="bold"><a href="/produkte_3.php">V3</a></span></td>
                              <td class="tab1" align="center" width="50"><span class="bold"><a href="/produkte_4.php">V4</a></span></td>
                              <td class="tab1" align="center" width="50"><span class="bold"><a href="/produkte_5.php">V5</a></span></td>
                              <td class="tab1" align="center" width="50"><span class="bold"><a href="/produkte_6.php">V6</a></span></td>                                                                                                                                                
                              <td style="padding: 5px; border-bottom: 0px solid #c0c0c0; border-right: 0px solid #ffffff; color: #c0c0c0;" align="center"><span class="bold"></span></td>
                          </tr>
                      </table>                                                   
                    </ul>
                  </div>                  
                </div>    
              </li>             
              <li role="menuitem"><a href="#">Sp&uuml;len & Armaturen</a></li>
              <li role="menuitem"><a href="#">K&uuml;hlen & Gefrieren</a></li>
              <li role="menuitem"><a href="#">Grills & BBQ</a></li>
              <li role="menuitem"><a href="#">Geschirrsp&uuml;ler & W&auml;schepflege</a></li>
              <li role="menuitem"><a href="#">Kleinger&auml;te</a></li> 
              <li role="menuitem"><a href="#">Angebote & Besonderes</a></li>                                   
            </ul>
          </div>
      </div>                                                                                                          
    </div>
</div> 
</div>
</center>
<!------------------------------------------ Megamenu ENDE ------------------------------------------------------------>

<div class="sidebar_layer"></div> 
  
<!------------------------------------------ Slider ANFANG ------------------------------------------------------------>
 <center>
    {if isset($box_MAIN_PROMOTIONS)}
	   {$box_MAIN_PROMOTIONS}
   {/if}
 </center>
 <!------------------------------------------ Slider ENDE ------------------------------------------------------------>
 
<!------------------------------------------ Markenslider ANFANG ------------------------------------------------------------> 
        {if isset($box_MANUFACTURERS_SLIDER)}
  	       {$box_MANUFACTURERS_SLIDER}
        {/if}
<!------------------------------------------ Markenslider ENDE  ------------------------------------------------------------>

<!------------------------------------------ CONTENT ANFANG  ------------------------------------------------------------>      

<div class="column_border10px" style="background-color: #ffffff;">
  <center>      
    <div class="container">
      {if isset($main_content)}{$main_content}{/if}               
      {if isset($box_BESTSELLERS)}{$box_BESTSELLERS}{/if}  
    </div>
  </center> 
</div>

<!------------------------------------------ CONTENT ENDE  ------------------------------------------------------------>  
  




<!-- FULL PAGE FOOTER GRAU-->
<div id="layout_footer">

<!-- 5SPALTIG-->
<center>

        <span class="orange"><br /><a class="white" href="http://www.ascasa-kuechen.de" target="_blank"><u>ascasa.de</u></a> - Elektroger&auml;te g&auml;nstig online kaufen. Mit 5 Jahren Garantie, 100 Tagen R&uuml;ckgaberecht, 0%-Finanzierung, 11 Zahlungsarten und Telefon-Hotline bis 22:00 Uhr</a></span>
<br /><br />
<div class="container_footer">
    <div class="row">            
        <div class="column5">                
          <div class="contentBox">                
          <h4><strong>Info-Center</strong></h4>
            <p>
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=64'}">Wie bestellen</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}">Kontakt</a> / <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=60'}">Hilfe</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=96'}">Produkt-Technik von A - Z</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=21'}">FAQ - die h&auml;ufigsten Fragen</a><br />
              <span style="margin-left: 0.09em">&nbsp;</span>
            </p>                
          </div>                            
        </div>           
        <div class="column5">                
          <div class="contentBox">                               
          <h4><strong>Sicher Einkaufen</strong></h4>
            <p>
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=70'}">Widerrufsbelehrung</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=3'}">AGB</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=63'}">Datenschutz</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=95'}>Batterieentsorgung</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=97'}">5 Jahre Garantie</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=70'}">100 Tage R&uuml;ckgaberecht</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=104'}">Widerrufsformular</a><br />
              <span style="margin-left: 0.09em"></span>
            </p>                
          </div>              
        </div> 
        <div class="column5">                
          <div class="contentBox">                               
          <h4><strong>Zahlung & Versand</strong></h4>
            <p>
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=102'}">Versandbedingungen</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=1'}">Versandkosten</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=11'}">Zahlungsarten</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=105'}">Bestellungen aus der Schweiz</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=108'}">Lieferzeiten Inland / Ausland</a><br />
              <span style="margin-left: 0.09em"></span>
            </p>                
          </div>              
        </div>
        <div class="column5">                
          <div class="contentBox">                               
          <h4><strong>ascasa</strong></h4>
            <p>
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=9'}">Wer wir sind</a><br />
            <a class="white" href="{'Hersteller.html'|xtc_href_link:''}">Unsere Hersteller</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=23'}">Jobs</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=101'}">Keine Newsletter</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=4'}">Impressum</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=103'}">Charity</a><br />
              <span style="margin-left: 0.09em"></span>
            </p>                
          </div>              
        </div>        
        <div class="columnR5x">              
          <div class="contentBox">                
          <h4><strong>Services & Leistungen</strong></h4>
            <p>
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=72'}">Kundendienst</a><br />
            <a class="white" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=8'}">&Uuml;bersicht</a><br /><br />
            <a href="https://www.facebook.com/ascasa.de/" target="_blank"><img src="{$tpl_path}img_ascasa/facebook.png" alt="" width="34" height="34" border="0"></a>&nbsp;&nbsp;<a href="https://plus.google.com/+AscasaDe/" target="_blank"><img src="{$tpl_path}img_ascasa/google.png" alt="" width="34" height="34" border="0"></a>
          
            </p>              
          </div>              
        </div>
    </div>            
  <div style="border-top: #666666 solid 1px; margin-bottom: -15px; "></div><br />
</div>
			<span class="smallfont"><span class="darkgrey">&copy; 2022 ascasa.de </span>| <a class="white" href="http://www.ascasa-kuechen.de" target="_blank">ascasa K&uuml;chen M&uuml;nchen</a> | design & code customized by <a class="white" href="http://www.brainsquad.de" target="_blank">brainsquad werbeagentur m&uuml;nchen</a></span>
      <br /><br />
</center>
<!-- // 5SPALTIG-->
</div>  
{* BOF - COOKIE - Richtlinie *}
<script>
$(function() {ldelim}
cookieChoices.showCookieConsentBar('{#cookiechoices_text#}','{#cookiechoices_button#}','{#cookiechoices_more#}','{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=63'}');
{rdelim});
</script>
{* COOKIE - Richtlinie *}


<!-- // FULL PAGE FOOTER GRAU-->

</div>
{* ENDE layout_wrap *}

{if ($smarty.const.TRACKING_COUNT_ADMIN_ACTIVE == 'true' && $smarty.session.customers_status.customers_status_id == '0') || $smarty.session.customers_status.customers_status_id != '0'}
  {if $smarty.const.TRACKING_PIWIK_ACTIVE == 'true'}
    {piwik url=$smarty.const.TRACKING_PIWIK_LOCAL_PATH id=$smarty.const.TRACKING_PIWIK_ID goal=$smarty.const.TRACKING_PIWIK_GOAL}
  {/if}
  {if $smarty.const.TRACKING_GOOGLEANALYTICS_ACTIVE == 'true'}
    {googleanalytics account=$smarty.const.TRACKING_GOOGLEANALYTICS_ID}
  {/if}
  {if $smarty.const.TRACKING_FACEBOOK_ACTIVE == 'true'}
    {facebook id=$smarty.const.TRACKING_FACEBOOK_ID}
  {/if}
{/if}
{if $smarty.const.GOOGLE_CERTIFIED_SHOPS_MERCHANT_ACTIVE == 'true'}
  {googlecertificate subaccount=$smarty.const.GOOGLE_SHOPPING_ID account=$smarty.const.GOOGLE_TRUSTED_ID}
{/if}
{/if}