<!--  SERVICE LEISTE OBEN   -->
<div class="top_info">
		<div align="center">
			<table width="1020" border="0" cellspacing="0" cellpadding="0" bgcolor="#333333">
				<tr>
					<td colspan="3" align="left"><font color="white">08:00 - 22:00 TEL. <a href="/Hotline:_:98.html">HOTLINE&nbsp;DURCH&nbsp;PROFIS</a><br>
						</font></td>
					<td colspan="2" align="right">
						<div align="right">
							<font color="white">
							TOP-BERATUNG&nbsp;IM&nbsp;<a href="http://www.ascasa-kuechen.de" target="_blank">LADENGESCH&Auml;FT&nbsp;M&Uuml;NCHEN</a><br />
							</font></div>
					</td>
				</tr>
				<tr>
					<td align="left" width="20%"><a class="tooltips" href="/Garantieerklaerung-5-Jahre:_:97.html"><img src="{$tpl_path}img_ascasa/5-Jahre-Garantie.gif" title="" alt="" width="145" height="28" border="0"><span>Sicherheit und K&auml;uferschutz stehen bei ascasa.de an alleroberster Stelle. Und dies nicht nur f&uuml;r den Zeitraum des Kaufes. So haben wir es m&ouml;glich gemacht, da&szlig; Sie f&uuml;r den Gro&szlig;teil unserer Elektroger&auml;te sowie eine erhebliche Anzahl von Sp&uuml;len 5 Jahre Garantie erhalten. Unabh&auml;ngig davon, welche Garantiedauer die jeweiligen Hersteller &uuml;blicherweise anbieten.</span></a></td>
					<td width="20%"><a class="tooltips" href="/Zahlungsmoeglichkeiten:_:11.html"><img src="{$tpl_path}img_ascasa/11-Zahlungsarten.gif" title="" alt="Tooltip" width="145" height="28" border="0"><span>Wie man seinen online-Kauf bezahlt - daf&uuml;r gibt es kein richtig oder falsch, sondern nur das eigene pers&ouml;nliche Empfinden. <br /><br />Wie sch&ouml;n, wenn es wie ascasa.de einen Anbieter gibt, der alle g&auml;ngigen Bezahl-Arten anbietet, so da&szlig; man sich exakt f&uuml;r diejenige Zahlungs-Variante entscheiden kann, die am besten zu einem pa&szlig;t.<br /><br /></span></a></td>
					<td width="20%"><a class="tooltips" href="/Widerrufsbelehrung:_:70.html"><img src="{$tpl_path}img_ascasa/100-Tage-Rueckgabe.gif" title="" alt="" width="203" height="28" border="0"><span>Nirgends kann die Zeitspanne zwischen Kauf eines Artikels bis zu seiner Verwendung so gro&szlig; sein wie beim K&uuml;chenkauf oder einer K&uuml;chen-Renovierung. <br /><br />Wenn Sie bei ascasa.de kaufen, gehen Sie allen damit verbundenen Risiken eines Fehlkaufes aus dem Weg, denn Sie k&ouml;nnen 100 Tage lang alles Gekaufte ohne Begr&uuml;ndung zur&uuml;ckgeben.<br /><br /></span></a></td>
					<td align="right" width="20%"><a class="tooltips" href="/0-Prozent-Finanzierung.php"><img src="{$tpl_path}img_ascasa/0-Prozent-Finanzierung.gif" title="" alt="" width="152" height="28" border="0"><span>Bei ascasa gibt es die 0% Finanzierung auf ausgew&auml;hlte Artikel.<br /><br /></span></a></td>
					<td align="right"><a class="tooltips" href="/Aktionen.html"><img src="{$tpl_path}img_ascasa/Sonderaktionen.gif" title="" alt="" width="152" height="28" border="0"><span>Bei ascasa gibt es regelmäîige Sonderaktionen für ausgewählte Hersteller.</span></a></td>
				</tr>
			</table>
		</div> 
</div>



<!--  NOTIZEN   -->
Blau Hover:     #1251b0
Orange Hover:   #f26203
Dunkles Grau:   #666666
Dunkles Grau:   #cccccc


